/* color palette: https://coolors.co/palette/0a0908-22333b-eae0d5-c6ac8f-5e503f */
/* near black: #0A0908 */
/* dark teal: #22333B */
/* cream: #EAE0D5 */
/* toffee: #C6AC8F */
/* coacoa: #5E503F */

* {
  /* including fallback fonts */
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: #C6AC8F;
}

#inset {
  background-color: #EAE0D5;
  margin: 10px;
  height: 94%;
  border-radius: 0.7%;
}

#header {
  text-align: center;
  color: #0A0908;
  font-weight: bold;
  padding-top: 4px;
}

#name {
  line-height: 0.2;
}

#pronouns {
  color: #656463;
}

#byline {
  font-weight: bolder;
}

.card {
  width: 90%;
  margin: 0 auto;
  padding: 2%;
  font-size: 0.8rem;
}

#about_me {
 background-color: #22333B;
 font-weight: bolder;
 color: #EAE0D5;
}

#projects {
  background-color: #C6AC8F;
  font-weight: bolder;
  color: #0A0908;
}

#extras {
  background-color: #5E503F;
  color: #EAE0D5;
  font-weight: bolder;
}

h2 {
  text-align: center;
}

p {
  font-weight: normal;
  text-align: justify;
  text-overflow: ellipsis;
}

#footer {
  font-size: 0.9rem;
  background-color: #0A0908;
  color: #EAE0D5;
  margin: 0 auto;
  height: 4%;
  width: 100%;
}

#footer p {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

#footer a {
  text-decoration: underline;
  color: #EAE0D5;
  line-height: 0.8;
}

#footer a:hover {
  text-decoration: none;
  font-weight: bolder;
  font-style: italic;
}