/*https://coolors.co/834e34-ad8366-d4c7b4-312e2a-271a16-887266*/
/*photo source: https://unsplash.com/photos/gUK3lA3K7Yo?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink*/

:root {
  /* CSS HEX */
  --russet: #834e34ff;
  --cafe-au-lait: #ad8366ff;
  --bone: #d4c7b4ff;
  --jet: #312e2aff;
  --bistre: #271a16ff;
  --cinereous: #887266ff;

  /* CSS HSL */
  --russet: hsla(20, 43%, 36%, 1);
  --cafe-au-lait: hsla(25, 30%, 54%, 1);
  --bone: hsla(36, 27%, 77%, 1);
  --jet: hsla(34, 8%, 18%, 1);
  --bistre: hsla(14, 28%, 12%, 1);
  --cinereous: hsla(21, 14%, 47%, 1);
}

* {
  /* including fallback fonts */
  font-family: 'Anybody', cursive;

}

body {
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  grid-template-rows: 2fr 6fr 1fr;
}

#header {
  text-align: center;
  background-color: var(--bistre);
  color: var(--bone);
  padding-top: 4px;
}

#name {
  line-height: 0.2;
}

#pronouns {
  opacity: 0.4;
}

.card_container {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
}

.card {
  margin: 0 auto;
  padding: 2%;
  width: 100%;
}

#about_me {
 background-color: var(--bone);
 color: var(--bistre);
}

#projects {
  background-color: var(--russet);
  color: var(--jet);
}

#extras {
  background-color: var(--cinereous);
  color: var(--bone);
}

h2 {
  text-align: center;
  font-weight: 700;
}

p {
  font-weight: 600;
  text-align: justify;
  text-overflow: ellipsis;
}

#footer {
  font-size: 0.9rem;
  background-color: var(--jet);
  color: #EAE0D5;
}

#footer .footer_link_container {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: 700;
}

#footer a {
  text-decoration: underline;
  color: #EAE0D5;
  line-height: 0.7;
}

#footer a:hover {
  text-decoration: none;
  font-weight: 400;
  font-style: italic;
}